body {
    font-family: sans-serif;
}

img.logo {
    height: 2ex;
}

header {
    position: fixed;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    height: 3ex;
    padding: 1ex;
    width: 100vw;
    background: #ffffff;
    border-bottom: 1px solid #add8e6;
}

header h1 {
    font-size: 80%;
    padding-left: .5em;
}

header nav {
    font-size: 80%;
    flex-grow: 1.1;
    text-align: right;
    padding-right: 2em;
}

nav a {
    padding-left: 1em;
    text-decoration: none;
}

a.active {
    font-weight: bold;
}

nav.secondary {
    display: flex;
    font-size: 80%;
}

nav.secondary a {
    font-size: 80%;
    text-decoration: none;
    font-style: italic;
    padding: 0 2em 0 0;
}

main {
    position: fixed;
    top: 5ex;
    left: 0;
    padding: 1ex 1em;
    width: calc(100vw - 2em);
    height: calc(100vh - 7ex);
    overflow-y: scroll;
    word-wrap: break-word;
    
}

.pre {
    white-space: pre-wrap;
}

#activity-list li {
    margin-bottom: 2ex;
}

.info {
    display: block;
    font-size: 69.5%;
}

.inline-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

.inline-list .item {
    width: 15em;
    margin: 0 1em 1em 1em;
}

.inline-list.wide .item {
    width: 32em;
}

dl {
    display: grid;
    grid-template-columns: 8em auto;
}

dt {
    grid-column: 1;
    text-align: right;
    font-size: 83.333333%;
    font-weight: bold;
}

dd {
    grid-column: 2;
    margin-bottom: 2ex;
}

ul li {
    margin-bottom: 1ex;
}
