body {
    font-family: sans-serif;
}

img.logo {
    height: 2ex;
}

header {
    position: fixed;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    height: 3ex;
    padding: 1ex;
    width: 100vw;
    background: #ffffff;
    border-bottom: 1px solid #add8e6;
}

header h1 {
    font-size: 100%;
    padding-left: .5em;
}

header nav {
    font-size: 80%;
    flex-grow: 1.1;
    text-align: right;
    padding-right: 1em;
}

nav a {
    padding-left: 1em;
}

a.active {
    font-weight: bold;
}

main {
    position: fixed;
    top: 5ex;
    left: 0;
    padding: 1ex 1em;
    width: calc(100vw - 2em);
    height: calc(100vh - 7ex);
    overflow-y: scroll;
    word-wrap: break-word;
    
}

.pre {
    white-space: pre-wrap;
}

#activity-list li {
    margin-bottom: 2ex;
}
