body {
    font-family: sans-serif;
}

main {
    padding: 3ex 0 0 0;
    
}

img.logo {
    height: 3ex;
}

header {
    position: fixed;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    padding: 1ex;
    height: 3ex;
    width: 100%;
    background: #ffffff;
    border-bottom: 1px solid #add8e6;
}

header h1 {
    font-size: 100%;
    padding-left: .5em;
}

header nav {
    font-size: 80%;
    flex-grow: 1.1;
    text-align: right;
    padding-right: 1em;
}

nav a {
    padding-left: 1em;
}

a.active {
    font-weight: bold;
}

.pre {
    white-space: pre-wrap;
}

#activity-list li {
    margin-bottom: 2ex;
}
